@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

#container {
    padding: 20px;
}

#footer {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    text-align: center;
}

.title-img {
    width: 49px;
    height: 49px;
}

.logo-horta {
    width: 168px;
    height: 71px;
}

#social-media {
    margin-top: 50px;
    display: flex;
}

.media-logo {
    width: 52px;
    height: 52px;
    margin-right: 15px;
}

#contatos, #links {
    align-self: center;
}

.maps {
    width: 244px;
    height: 202px;
}

#copyright {
    text-align: center;
    align-content: center;
    border-top: solid 1px #C4C4C4;
}